<div class="flex-container">
  <div style="background: #00c2ff;padding:30px;">
    <nz-card style="width:360px;" [nzBordered]="false">
      <img src="https://image.tmdb.org/t/p/w500/{{item.poster_path}}" alt="{{item.title}}" style="width:300px">
      <hr>
      <button nz-button nzType="primary" id="happy" value="happy" (click)="onHappyClick()">Happy</button>
      <button nz-button nzType="primary" id="sad" value="sad" (click)="onSadClick()">Sad</button>
      <button nz-button nzType="primary" id="neutral" value="neutral" (click)="onNeutralClick()">Neutral</button>
      <button nz-button nzType="primary" value="delete" (click)="onClearEmotion()">Untag</button>
      <p style="text-align: center; font-size: large;"><b>{{getEmotion()}}</b></p>
    </nz-card>
  </div>
  <div>
    <h2><b>{{item.title}}</b></h2>
    <br>
    <h3><b>Release Date: {{item.release_date}} | Rating: {{item.vote_average}}</b></h3>
    <br>
    <p style="max-width: 50%;">{{item.overview}}</p>
  </div>
</div>
