[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
  background-color: aquamarine;
  color: black;
}
hr {
  background-color: #00c2ff;
}
.flex-container{
  display: flex;
}
.flex-container > div {
  margin: 10px;
  padding: 20px;
}

