.grid-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.checkbox {
  margin-left: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  margin-left: 30px;
  background-color: aquamarine;
  border-color: blue;
  border-width: 1px;
}
